body{
	font-family: 'Mali', cursive;
	margin:0px;
}
header{
	background:#f1f1f1;
	display:flex;
	justify-content: center;
	border-bottom:3px solid black; 
	}
h1{ 
	font-size: 3rem;
	text-shadow:0px 2px 4px #5c8a8a ;
}
.t{
	display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 15px
}
img{
	border-radius:25px;
	width:400px;
	height:400px;
    margin:10px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
    cursor:pointer;
}
img:hover{
     -webkit-transform:scale(1.1);
     transform:scale(1.1);
}
.quote{
	width:60%;
    border-top: 5px solid powderblue;
	border-bottom: 5px solid powderblue;
	text-align: center;
	margin-left:20%;
}
footer{
	background:#f1f1f1;
	display:flex;
	justify-content: space-between;
	font-size: 1.5rem
}
footer img{
	height:100px;
	width:100px;
	border-radius:100px; 
}
.name{
	display:flex;
	margin-left: 10px
}
.contact {
	margin-right: 50px;
    display: flex;
    flex-direction: column;
}
.inner_cont{
	display: flex;
    justify-content: center;
    position:relative;
    top:-9px;
}
#a1:hover{
    
}
